.reset-password {
    background-color: #f2eded;
    margin:5rem 30rem ;
    border: 5px solid ;
    padding: 15px 15px;
    width: 30%;
    bottom: 100%;
    align-items: center;
    border-radius: 15px;
}
.reset-password a{
    color: black;
}
.reset-password p{
    color: black;
}

.reset-password input{
    padding: 10px;
    margin: auto;
    width: 90%;
}

.reset-password label{
    color: rgb(254, 254, 254);
}

.reset-password button{
    margin: auto;
    border-radius: 5px;
    padding: 10px 10px;
    width: 95%;
    justify-content: center;
    background-color: #2e875c;
    color: #fff;
    font-weight: 700;
}
.reset-password{
    margin-bottom:5rem ;
}
